<%- include('partials/header')%>

    <div class="container bg-light text-center">
        <div class="row min-vh-100 justify-content-center">
            <div class="row flex-column  align-items-center mt-5">
                <h3 class="">Bayan Academy</h3>
                <h4 class="align-self-start">Backend Web Development Course</h4>
            </div>
            <div class="row">
                <h1>Inventory Management System</h1>
                <p class="text-secondary fs-4">Final Project</p>
                <p class="text-secondary ">of</p>
            </div>
            <div class="row">
                <h2 class="display-1">Patrick Macabulos</h2>
                <a href="/items" class="btn btn-primary fs-3 m-auto w-auto">View App</a>
            </div>
            <div class="row">
                <h3>Instructor: Mr. Aldrin John Tamayo</h3>
                <p>Training Dates: Nov. 25 - Dec. 12, 2024</p>
            </div>
        </div>
    </div>
    <%- include('partials/footer')%>